<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>
       TÔ DE MOTO
    </span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">Projeto Rolé</span>
    </div>

    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="" href="@Url.Action("Login", "CAUsuarios")">Login</a>
                </li>
                <li>
                    <a class="" href="@Url.Action("LogOff", "CAUsuarios")">Sair</a>
                </li>
                <li>
                    <a class="" href="@Url.Action("MeusDados", "CAUsuarios")">Meus Dados</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-speaker"></i>
                </a>
                <ul class="dropdown-menu hdropdown notification animated flipInX">
                    <li>
                        <a>
                            <span class="label label-warning">!</span> Sem notificações no momento
                        </a>
                    </li>
                 <!--  <li>
                        <a>
                            <span class="label label-success">WAR</span> There are many variations.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-danger">ERR</span> Contrary to popular belief.
                        </a>
                    </li>
                     
                    <li class="summary"><a href="#">Todas as Notificações</a></li>  -->
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-keypad"></i>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="@Url.Action("IndexInterno", "Home")">
                                        <i class="pe fa fa-road text-info"></i>
                                        <h5>Passeios / Eventos</h5>
                                    </a>
                                </td>
                              
                                <td>
                                    <a href="@Url.Action("index", "Motoes")">
                                        <i class="pe fa fa-motorcycle text-warning"></i>
                                        <h5>Minhas Motos</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("MeusDados", "CAUsuarios")">
                                        <i class="pe pe-7s-users text-success"></i>
                                        <h5>Meus Dados</h5>
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </li>
            
            
            <li class="dropdown">
                <a href="@Url.Action("LogOff", "CAUsuarios")">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
