@model ProjetoRole.Models.Entidades.EnidadePaginaIncial
@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Index";
    int contador = 0;
    int contador2 = Model.listaFuturo.Count;
}


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">TÔ DE MOTO</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
                <li><a class="page-scroll" href="#components">Vai Rolar!</a></li>
                <li><a class="page-scroll" href="#features">Já Rolou</a></li>
                <li><a href="/CAUsuarios/Login">Entre</a></li>
                <li><a href="/CAUsuarios/Create">Registre-se </a></li>
                <li><a class="page-scroll" href="#contact">Contato</a></li>
            </ul>
        </div>
    </div>
</nav>

<header id="page-top">
    <div class="container">
        <div class="heading">
            <h1>
                Bem Vindo ao TÔ DE MOTO .COM.BR
            </h1>
            <span>Ajudando você a encontrar e divulgar <br /> os melhores Rolés e Encontros!</span>


        </div>
        <div class="heading-image animate-panel" data-child="img-animate" data-effect="fadeInRight">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c1.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c2.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c3.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c4.jpg">
            <br />
            <img class="img-animate img-thumbnail" src="~/Images/landing/c5.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c6.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c7.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c8.jpg">
        </div>
    </div>
</header>



<section id="features2">
    <div class="container imagensPaginaInicial">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-success">Próximos </span>Passeios e Eventos</h2>
                <p>Veja quais eventos e passeios tem para rolar nos proximos dias na sua cidade de região! </p>
            </div>
        </div>

        <div class="row text-center">
            @foreach (var item in @Model.listaFuturo.OrderBy(o => o.pkRole).Take(4))
            {

                <div class="col-md-3">
                    <h4 class="m-t-lg">
                        <a href="Home/View?id=@item.pkRole"><img class="img-animate thumbnail" src="~/Arquivos/Imagens/Medias/@item.capa" width="263" height="160"></a>    
                    </h4>
                    <strong>@item.titulo</strong>
                    <p>
                        Partida: @item.localPartida <br />
                        Data /  Hora: @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(item.dataRole.ToString())) - @string.Format("{0:HH:mm}", Convert.ToDateTime(item.horaRole.ToString()))
                    </p>
                </div>
            }
        </div>
        <div class="row text-center">
            @foreach (var item in @Model.listaFuturo.OrderByDescending(o => o.pkRole).Take(4))
            {

                <div class="col-md-3">
                    <h4 class="m-t-lg">
                        <a href="Home/View?id=@item.pkRole"><img class="img-animate img-fluid thumbnail" src="~/Arquivos/Imagens/Medias/@item.capa" width="263" height="160"> </a>
</h4>
                    <strong>@item.titulo</strong>
                    <p>
                        Partida: @item.localPartida <br />
                        Data /  Hora: @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(item.dataRole.ToString())) - @string.Format("{0:HH:mm}", Convert.ToDateTime(item.horaRole.ToString()))
                    </p>
                </div>
            }
        </div>

        <button type="button" class="btn btn-default btn-success" style="float:right;">
            <span class="fa fa-search-plus" aria-hidden="true"></span> @Html.ActionLink("Listar todos que vão acontecer", "Listagem")
        </button>
    </div>
</section>

<section id="team" class="bg-light" >
    <div class="container imagensPaginaInicial">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Já Rolou!</span></h2>
                <p>
                    Confira como foram os eventos cadastrados no site!
                </p>
            </div>
        </div>

        <div class="row text-center ">
            @foreach (var item in @Model.listaFuturo.OrderBy(o => o.pkRole).Take(4))
            {

                <div class="col-md-3">
                    <h4 class="m-t-lg">
                        <a href="Home/View?id=@item.pkRole"> <img class="img-animate thumbnail" src="~/Arquivos/Imagens/Medias/@item.capa" width="263" height="160"> </a>
</h4>
                    <strong>@item.titulo</strong>
                    <p>
                        Partida: @item.localPartida <br />
                        Data /  Hora: @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(item.dataRole.ToString())) - @string.Format("{0:HH:mm}", Convert.ToDateTime(item.horaRole.ToString()))
                    </p>
                </div>
            }
        </div>
        <div class="row text-center ">
            @foreach (var item in @Model.listaFuturo.OrderByDescending(o => o.pkRole).Take(4))
            {

                <div class="col-md-3">
                    <h4 class="m-t-lg">
                        <a href="Home/View?id=@item.pkRole">  <img class="img-animate img-fluid thumbnail" src="~/Arquivos/Imagens/Medias/@item.capa" width="263" height="160"> </a>
</h4>
                    <strong>@item.titulo</strong>
                    <p>
                        Partida: @item.localPartida <br />
                        Data /  Hora: @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(item.dataRole.ToString())) - @string.Format("{0:HH:mm}", Convert.ToDateTime(item.horaRole.ToString()))
                    </p>
                </div>
            }
        </div>


        <button type="button" class="btn btn-default btn-success" style="float:right;">
            <span class="fa fa-search-plus" aria-hidden="true"></span> @Html.ActionLink("Listar todos que já aconteceram", "Listagem")
        </button>

    </div>

</section>



@section Scripts {
    <script type="text/javascript">

        $(function () {

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
            });

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

        });
    </script>
}