@model ProjetoRole.Models.Entidades.EntidadeRole
@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = Model.role.titulo;
    string urlSite = "http://www.todemoto.com/Home/View?id=" + Model.role.pkRole;
    string titulo = Model.role.titulo + " - Tô de Moto";
    string descricao = Model.role.descricaoRole;
    string urlImagem;
    if (Model.role.capa != null) {
        urlImagem = "http://www.todemoto.com/Arquivos/Imagens/Grandes/" + Model.role.capa;
    } else
    {
        urlImagem = "http://www.todemoto.com/Arquivos/Imagens/Grandes/padrao.jpg";
    }
}

<meta property="og:url" content="@urlSite" />
<meta property="og:type" content="website" />
<meta property="og:title" content="@titulo" />
<meta property="og:description" content="@descricao" />
<meta property="og:image" content="@urlImagem" />


<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">TÔ DE MOTO</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
                <li><a class="page-scroll" href="#components">Vai Rolar!</a></li>
                <li><a class="page-scroll" href="#features">Já Rolou</a></li>
                <li><a href="/CAUsuarios/Login">Entre</a></li>
                <li><a href="/CAUsuarios/Create">Registre-se </a></li>
                <li><a class="page-scroll" href="#contact">Contato</a></li>
            </ul>
        </div>
    </div>
</nav>

<header id="page-top">
    <div class="container">
        <div class="heading">
            <h1>
                Bem Vindo ao TÔ DE MOTO .COM.BR
            </h1>
            <span>Ajudando você a encontrar e divulgar <br /> os melhores Rolés e Encontros!</span>


        </div>
        <div class="heading-image animate-panel" data-child="img-animate" data-effect="fadeInRight">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c1.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c2.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c3.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c4.jpg">
            <br />
            <img class="img-animate img-thumbnail" src="~/Images/landing/c5.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c6.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c7.jpg">
            <img class="img-animate img-thumbnail" src="~/Images/landing/c8.jpg">
        </div>
    </div>
</header>

 <script type="text/javascript">
	var GA = function() {};
     GA.prototype.send;
	var ga = new GA();
</script>
<script type="text/javascript" src="http://rdeveloper.com.br/sharingan/dist/whatsapp-button.js"></script>





<div class="container">
    <div class="normalheader transition">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="/index">Página Incial</a></li>
                        <li>
                            <span>Passeios</span>
                        </li>
                        <li class="active">
                            <span>Detalhe de Passeio / Encontro</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    @Model.role.titulo
                </h2>
                <small>@Model.role.TipoRole.descricao</small>
            </div>
        </div>
    </div>

    <div class="content animate-panel">

        <div class="row">

            <div class="col-md-8">

                <div class="font-bold m-b-sm">
                    Mais Informações
                </div>

                <div class="hpanel">
                    <div class="panel-body">

                        <!--  <h2 class="m-t-none">@string.Format("{0:D}", Convert.ToDateTime(Model.role.dataRole.ToString().ToUpper()))-  @string.Format("{0:HH:mm}", Convert.ToDateTime(Model.role.horaRole.ToString()))</h2> -->
                        <Medium>
                            <a href="~/Arquivos/Imagens/Grandes/@Model.role.capa" title="TÔ DE MOTO.COM.BR" data-gallery="">
                                <img src="~/Arquivos/Imagens/Medias/@Model.role.capa" class="img-thumbnail pull-left" style="margin-right: 15px;" />
                            </a>
                            @Html.Raw(Model.role.descricaoRole)
                        </Medium>


                        <div class="Medium m-t-xs">
                            <strong>Data:</strong> @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Model.role.dataRole.ToString())) <br />
                            <strong>Horário:</strong> @string.Format("{0:HH:mm}", Convert.ToDateTime(Model.role.horaRole.ToString())) <br />
                            <strong>Cidade:</strong> @Model.role.Localidade.cidade - @Model.role.Localidade.uf <br />
                            <strong>Ponto de Encontro(Partida):</strong> @Model.role.localPartida<br />
                            <strong>Destino:</strong> @Model.role.localDestino<br />
                            <strong>Tipo de Passeio / Evento:</strong> @Model.role.TipoRole.descricao <br />
                            <strong>Distância a ser Percorrida:</strong> @Model.role.totalKM.ToString() Km (Estimativa)<br />

                            <strong>Criado por:</strong> @Model.role.CAUsuario.apelido <br />
                        </div>



                    </div>
                </div>

                <div class="hpanel">



                    
                    <div class="panel-body">
                        
                        <p>
                            <strong>Comentários</strong> 
                        </p>

                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <tbody>
                                    @foreach (var item in Model.comentarios)
                                    {

                                        <tr>

                                            <td class="col-md-6">

                                                <strong>@item.tituloComentario</strong>

                                                <br />
                                                <small>
                                                    @item.textoComentario
                                                </small>
                                            </td>
                                            <td class="issue-info col-md-4">
                                                @item.CAUsuario.apelido
                                            </td>
                                            <td class="col-md-2">
                                                @item.dataHora
                                                @if (Model.eAdm == true)
                                                {
                                                    <br />
                                                    <strong><a href="/Roles/ExcluirComentario/?pkComentario=@item.pkCometario&idRoleComentario=@item.fkRole"> Excluir Comentário</a></strong>
                                                }
                                            </td>



                                        </tr>
                                    }


                                    @if (Model.comentarios.Count == 0)
                                    {
                                        <strong>Nenhum comentário  até o momento.</strong>
                                    }
                                </tbody>
                            </table>
                        </div>



                    </div>

                </div>

                
            </div>
            <div class="col-md-4">

                <a href="/CAUsuarios/Login?urlRetorno=/Roles/Details?id=@Model.role.pkRole"> <button class="btn btn-info" style="width:100%;" type="button"><i class="fa fa-plus"></i><br /> QUERO PARTICIPAR! <br /></button></a>
                <br />
                <br />
               
                    <button class="btn btn-info" style="width:100%; height:70px; background-color: #4267b2; border:0px;" type="button">
                    <div class="fb-share-button" data-href="@urlSite" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartilhar</a></div>
                    </button>

                    <br />
                <br />
                  <p class="text-center">
                        <a href="whatsapp://send" onclick="ga.send('btn3');" data-text="Achei um Passeio / Encontro Massa! vamos participar? Acessa o site: "  data-href="" class="wa_btn wa_btn_l" style="display:none">Compartilhar Whatsapp</a>
                    </p>
               
               
                <br />
                    <div class="font-bold m-b-sm">
                        Alguns dos Participantes Confirmados
                    </div>


                    <div class="row">
                        @foreach (var item in Model.participantes)
                        {
                            <div class="col-md-6">
                                <div class="hpanel">
                                    <div class="panel-body text-center">
                                        <img alt="logo" class="img-circle img-small" src="~/Arquivos/Imagens/Pequenas/@item.CAUsuario.foto">
                                        <div class="m-t-sm">
                                            <strong>@item.CAUsuario.apelido</strong>
                                            <p class="small">@item.Moto.nomeMoto - @item.Moto.modeloMoto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

</div>
        </div>
    </div>

</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<!-- Local style for demo purpose -->
<style>
    .lightBoxGallery {
        text-align: center;
    }

        .lightBoxGallery a {
            margin: 5px;
            display: inline-block;
        }
</style>

@section Styles {
    @Styles.Render("~/bundles/blueimp/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/blueimp/js")
}
