@model ProjetoRole.Models.Moto

@{
    ViewBag.Title = "Cadastro de Moto";
}

<h2>Cadastro de Motos</h2>


@using (Html.BeginForm("Create", "Motoes", FormMethod.Post, new
{ enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Nova Moto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="nome">Nome da Motoca</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomeMoto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeMoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nome">Selecione a Marca</label>
            <div class="col-md-10">
                @Html.DropDownList("fkMarca", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkMarca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nome">Modelo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloMoto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modeloMoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" class="form-control" id="FotoPerfil" name="FotoMoto">
                <span class="help-block">Formatos: gif, png, jpg. / tam. max: 2Mb</span>
                @Html.ValidationMessageFor(m => m.foto) 
                @Html.HiddenFor(m => m.ativa, new { Value = "True" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar Informações" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
