@model ProjetoRole.Models.Entidades.EntidadeRole
@{
    ViewBag.Title = Model.role.titulo;
    ProjetoRole.Models.Entidades.EntidadeErro erro = new ProjetoRole.Models.Entidades.EntidadeErro();
    if (Model.erro != null && (Model.erro.erro))
    {
        erro = Model.erro;
    }
    ViewBag.Title = Model.role.titulo;
    string urlSite = "http://www.todemoto.com/Home/View?id=" + Model.role.pkRole;
    string titulo = Model.role.titulo + " - Tô de Moto";
    string descricao = Model.role.descricaoRole;
    string urlImagem;
    if (Model.role.capa != null)
    {
        urlImagem = "http://www.todemoto.com/Arquivos/Imagens/Grandes/" + Model.role.capa;
    }
    else
    {
        urlImagem = "http://www.todemoto.com/Arquivos/Imagens/Grandes/padrao.jpg";
    }
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>


<div class="normalheader transition">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/index">Página Incial</a></li>
                    <li>
                        <span>Passeios</span>
                    </li>
                    <li class="active">
                        <span>Detalhe de Passeio / Encontro</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @Model.role.titulo
            </h2>
            <small>@Model.role.TipoRole.descricao</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">

        <div class="col-md-8">

            <div class="font-bold m-b-sm">
                Mais Informações
            </div>

            <div class="hpanel">
                <div class="panel-body">

                    <!--  <h2 class="m-t-none">@string.Format("{0:D}", Convert.ToDateTime(Model.role.dataRole.ToString().ToUpper()))-  @string.Format("{0:HH:mm}", Convert.ToDateTime(Model.role.horaRole.ToString()))</h2> -->
                    <Medium>
                        <a href="~/Arquivos/Imagens/Grandes/@Model.role.capa" title="TÔ DE MOTO.COM.BR" data-gallery="">
                            <img src="~/Arquivos/Imagens/Medias/@Model.role.capa" class="img-thumbnail pull-left" style="margin-right: 15px;" />
                        </a>
                        @Html.Raw(Model.role.descricaoRole)
                    </Medium>


                    <div class="Medium m-t-xs">
                        <strong>Data:</strong> @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Model.role.dataRole.ToString())) <br />
                        <strong>Horário:</strong> @string.Format("{0:HH:mm}", Convert.ToDateTime(Model.role.horaRole.ToString())) <br />
                        <strong>Cidade:</strong> @Model.role.Localidade.cidade - @Model.role.Localidade.uf <br />
                        <strong>Ponto de Encontro(Partida):</strong> @Model.role.localPartida<br />
                        <strong>Destino:</strong> @Model.role.localDestino<br />
                        <strong>Tipo de Passeio / Evento:</strong> @Model.role.TipoRole.descricao <br />
                        <strong>Distância a ser Percorrida:</strong> @Model.role.totalKM.ToString() Km (Estimativa)<br />

                        <strong>Criado por:</strong> @Model.role.CAUsuario.apelido <br />
                    </div>



                </div>
            </div>

            <div class="hpanel">




                <div class="panel-body">

                    <p>
                        <strong>Comentários</strong>
                    </p>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <tbody>

                                @foreach (var item in Model.comentarios)
                                {

                                    <tr>

                                        <td class="col-md-6">

                                            <strong>@item.tituloComentario</strong>     

                                            <br />
                                            <small>
                                                @item.textoComentario
                                            </small>
                                        </td>
                                        <td class="issue-info col-md-4">
                                            @item.CAUsuario.apelido
                                        </td>
                                        <td class="col-md-2">
                                            @item.dataHora
                                            @if (Model.eAdm == true)
                                            {
                                                <br />
                                                <strong><a href="/Roles/ExcluirComentario/?pkComentario=@item.pkCometario&idRoleComentario=@item.fkRole"> Excluir Comentário</a></strong>
                                            }
                                        </td>

                                        

                                    </tr>
                                }


                                @if (Model.comentarios.Count == 0)
                                {
                                    <strong>Nenhum comentário  até o momento.</strong>
                                }
                            </tbody>
                        </table>
@if (Model.inscritoRole == true)
{
                        <form method="post" name="formComentario" action="/Roles/CadastraComentario/">

                            <div class="form-group">
                                <strong class="success">Envio de Novo Comentário: </strong>  <br />
                                <br />
                                <div class="col-sm-12">
                                    <div class="row">
                                        @Html.Hidden("idRoleComentario", Model.role.pkRole)
                                        <div class="col-md-4"><input type="text" placeholder="Titulo" name="tituloComentario" id="tituloComentario" class="form-control"></div>
                                        <div class="col-md-6"><input type="text" placeholder="Comentário" name="textoComentario" id="textoComentario" class="form-control"></div>
                                        <div class="col-md-2">
                                            <a href="javascript:formComentario.submit()"> <button class="btn btn-success" style="width:100%;" type="button"><i class="fa fa-plus"></i>   Enviar </button></a>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
}

                    </div>



                </div>

            </div>


        </div>
        <div class="col-md-4">
            @{
                if (Session["usuario"] == null)
                {
                    Response.Redirect("/Login/CAUsuarios?urlRetorno =" + Request.Url.AbsolutePath);
                }

                ProjetoRole.Models.CAUsuario usuario = (ProjetoRole.Models.CAUsuario)Session["usuario"];
                List<ProjetoRole.Models.Moto> motos = new ProjetoRole.Controllers.MotoesController().ListaMotosUsuario(usuario.pkUsuario);
            }
            @if (Model.inscritoRole)
            {
                <form method="post" action="/Roles/CancelarParticipacao/" name="formCancelarParticipacao">
                    <strong>
                        VÔCE JÁ ESTA INSCRITO NESTE EVENTO COM A SEGUINTE MOTO:  <br /><br />

                        @Model.descricaoMotoInscrita;
                        <br />
                    </strong>
                    <br />
                    @Html.Hidden("id", Model.role.pkRole)

                    <a href="javascript:formCancelarParticipacao.submit()"> <button class="btn btn-danger" style="width:100%;" type="button"><i class="fa fa-remove icon-50"></i><br /> CANCELAR MINHA INSCRIÇÃO <br /></button></a>
                </form>

            }
            else
            {
                if (motos.Count == 0)
                {
                    <a href="/Motoes/Create?fkRole=@Model.role.pkRole"> <button class="btn btn-warning2" style="width:100%;" type="button"><i class="fa  icon-50"></i> <i class="fa fa-motorcycle icon-50"></i> <br /> <strong> Cadastre Pelo Menos uma Moto <br /> para Poder se Inscrever no Evento </strong> <br /></button></a>
                }
                else
                {
                    <form method="get" action="/Roles/Participar/" name="formParticipacao">
                        <strong>Selecione a Moto que vai Usar:</strong>  <br /><br />

                        @Html.DropDownList("pkMoto", null, htmlAttributes: new { @class = "form-control" })
                        <br />
                        @Html.Hidden("id", Model.role.pkRole)

                        <a href="javascript:formParticipacao.submit()"> <button class="btn btn-info" style="width:100%;" type="button"><i class="fa fa-plus icon-50"></i><br /> QUERO PARTICIPAR! <br /></button></a>
                    </form>
                }
            }
            <br />
            <br />

            <button class="btn btn-info" style="width:100%; height:70px; background-color: #4267b2; border:0px;" type="button">
                <div class="fb-share-button" data-href="@urlSite" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartilhar</a></div>
            </button>

            <br />
            <br />
            <p class="text-center">
                <a href="whatsapp://send" onclick="ga.send('btn3');" data-text="Achei um Passeio / Encontro Massa! vamos participar? Acessa o site: " data-href="" class="wa_btn wa_btn_l" style="display:none">Compartilhar Whatsapp</a>
            </p>
            <div class="font-bold m-b-sm">
                Alguns dos Participantes Confirmados
            </div>

            <div class="row">
                @foreach (var item in Model.participantes)
                {
                    <div class="col-md-6">
                        <div class="hpanel">
                            <div class="panel-body text-center">
                                <img alt="logo" class="img-circle img-small" src="~/Arquivos/Imagens/Pequenas/@item.CAUsuario.foto">
                                <div class="m-t-sm">
                                    <strong>@item.CAUsuario.apelido</strong>
                                    <p class="small">@item.Moto.nomeMoto - @item.Moto.modeloMoto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<!-- Local style for demo purpose -->
<style>
    .lightBoxGallery {
        text-align: center;
    }

        .lightBoxGallery a {
            margin: 5px;
            display: inline-block;
        }
</style>

@section Styles {
    @Styles.Render("~/bundles/blueimp/css")
    @Styles.Render("~/bundles/sweetAlert/css")
    @Styles.Render("~/bundles/toastr/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/blueimp/js")
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/toastr/js")
    @if (erro.erro)
    {
        <script type="text/javascript">
            $(window).load(function () {
                swal("@Html.Raw(erro.msgTitulo)", "@Html.Raw(erro.msgErro)", "@erro.msgTipo");
        });
        </script>
    }
}