@model IEnumerable<ProjetoRole.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            Capa
        </th>

       
        <th>
            Tipo
        </th>
       
        <th>
            Título
        </th>
        <th>
           Descrição
        </th>
        
        <th>
           Total KM
        </th>
        <th>
           Ponto de Encontro
        </th>
      
        <th>
           Data - Hora
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-thumbnail" src="~/Arquivos/Imagens/Pequenas/@Html.DisplayFor(modelItem => item.capa)">
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.TipoRole.descricao)
        </td>
       
       
        <td>
            @Html.DisplayFor(modelItem => item.descricaoRole)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.totalKM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localPartida)
        </td>
       
        <td align="center">
            @string.Format("{0:dd/MM/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.dataRole).ToString())) <br/> 
            @string.Format("{0:HH:mm}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.horaRole).ToString()))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pkRole }) |
            @Html.ActionLink("Details", "Details", new { id=item.pkRole }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pkRole })
        </td>
    </tr>
}

</table>
